body{
	background-color: antiquewhite;
	box-sizing: border-box;
}
@keyframes turn{
	0%{transform:rotate(0deg);}
	/*50%{transform:rotate(225deg);}*/
	100%{transform:rotate(360deg);}
}
div{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	border: 3px solid lightblue;
	border-bottom: 3px solid rgba(250,235,215 ,0 );
	border-top: 3px solid rgba(250,235,215 ,0 );
	border-radius: 50%;
	animation-name: turn;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 10;
}


#n1{
	height: 50px;
	width: 50px;
	top: 500px;
	left: 700px;
	animation-duration: 20s;
}
#n2{
	height: 44px;
	width: 44px;
}
#n3{
	height: 38px;
	width: 38px;
}
#n4{
	height: 32px;
	width: 32px;
}
#n5{
	height: 26px;
	width: 26px;
}
#n6{
	height: 20px;
	width: 20px;
}
#n7{
	height: 14px;
	width: 14px;
}
#n8{
	height: 8px;
	width: 8px;
}
#n9{
	height: 2px;
	width: 2px;
}

